.datatable{
    height: 700px;
    padding: 20px;

    .datatableTitle{
        width: 100%;
        font-size: 24px;
        color: grey;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .link{
            text-decoration: none;
            color: green;
            font-size: 16px;
            font-weight: 4000;
            border: 1px solid green;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }

    }

    .cellWithImg{
        display: flex;
        align-items: center;

        .cellImg{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }

    .cellWithStatus{
        padding: 5px;
        border-radius: 5px;

        &.active{
            color: goldenrod;
            background-color: rgb(255, 249, 236);
        }
        &.pending{
            color: green;
            background-color: rgb(230, 252, 230);
        }
        &.passive{
            color: red;
            background-color: rgb(255, 232, 232);
        }
    }

    .cellAction{
        display: flex;
        align-items: center;
        gap: 15px;

        .viewButton{
            padding: 2px 5px ;
            border-radius: 5px;
            color: blue;
            border: 1px dotted blue;
            cursor: pointer;
        }

        .deleteButton{
            padding: 2px 5px ;
            border-radius: 5px;
            color: red;
            border: 1px dotted crimson;
            cursor: pointer;
        }
    }
}